* {
  margin: 0;
  color: #ebebeb;
  font-weight: bolder; }

body {
  text-align: center;
  font-size: 1.3em;
  font-family: verdana;
  background: linear-gradient(#648880, #293f50);
  background-attachment: fixed; }
  body #calculator {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #8899AA;
    height: 500px;
    width: 500px; }
    body #calculator #ansBox {
      background-color: #ebebeb;
      border: 0;
      height: 2em;
      width: 80%; }
    body #calculator #buttons {
      margin: 0 auto; }

td > input {
  height: 5vh;
  width: 5vw;
  background-color: #aabbcc;
  background-image: repeating-linear-gradient(45deg, #e9e9e9, #40ada6);
  border: 0px; }
  td > input:focus {
    outline: 0; }
